on init
    mkdir /data/property
    # sdcard/usb mount points
    mkdir /mnt
    mkdir /mnt/sdcard
    mkdir /mnt/usb
    mkdir /mnt/usb/sda1
    mkdir /mnt/usb/mmcblka1
    mkdir /storage

# For debug
service console /sbin/busybox sh
    console
    user root
    group log

on fs
    mkdir /tvconfig
    symlink /tvconfig/config /config
    mount ext4 /dev/block/platform/mstar_mci.0/by-name/tvconfig /tvconfig wait noatime block_validity nodiscard data=ordered journal_checksum

    # restore security contexts here to label those device nodes created by utopia
    restorecon /dev/gflip
    restorecon /dev/msmailbox
    restorecon /dev/system

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
#service watchdogd /sbin/watchdogd 10 20
#    class core
