/dev/miomap               0660   media      system
/dev/malloc               0660   media      system
/dev/rtc0                 0660   system     system
/dev/ump                  0666   system     system
/dev/mali                 0666   system     system
/dev/video0               0660   root       camera
/dev/video1               0660   root       camera
/dev/video2               0660   root       camera
/dev/snd                  0664   system     audio
/dev/semutex              0660   media      system
/dev/block/mmcblk0p*      0660   system     system
/dev/block/mmcblk0boot1   0660   system     system
/dev/btusb0               0660   bluetooth  bluetooth
/dev/bt_usb0              0660   bluetooth  bluetooth
/dev/upcm                 0660   bluetooth  bluetooth
/dev/mali0                0666   system     graphics
/dev/ion                  0666   system     graphics
/dev/sw_sync              0660   media      system
/dev/cmapool              0660   media      system
/dev/rtk_btusb            0660   bluetooth  bluetooth
/dev/stpbt                0660   bluetooth  radio
/dev/hidraw*              0660   system     audio
/dev/tuner                0660   media      system
/dev/apm_bios             0660   system     system
/dev/scaler               0660   media      system
/dev/opteearmtz00         0660   media      system
/dev/mstar_share_resource 0660   media      system
/dev/ttyS0                0660   root       system
/dev/ttyS1                0660   root       system
/dev/ttyS2                0660   root       system
